<div class="comments p-3 m-3 bg-light border">
  {{#each this}}
    <section class="comment p-1 m-1 border border-dark">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>