<section class="d-flex flex-column px-3">
  <h2 class="pt-3">Create New Post</h2>

  <form class="new-post-form px-3">
      <label for="post-title">Title</label>
    <div>
      <input type="text" id="post-title" name="post-title" class="w-25"/>
    </div>
      <label for="post-content">Content</label>
    <div>
      <textarea type="text" id="post-content" name="post-content" class="w-100"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="pt-3">
  <h2 class="text-dark px-3">Your Posts</h2>
  <ul class="post-list px-3" style="list-style-type:none">
    {{#each posts as |post|}}
    <li class="flex flex-column">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-primary mx-3">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/logout.js"></script>